Django		
Flask	
Jinja2			
Markdown	
MarkupSafe		
Pillow	
Pygments		
Unidecode		
Werkzeug		
aiohttp			
asn1crypto		
async-timeout	
atomicwrites	
attrs	
beautifulsoup4	
boto3	
botocore	
bottle		
certifi	
cffi	
chardet	
colorama	
configparser
coverage	
cryptography	
cycler	
dj-database-url
django-debug-toolbar	
django-heroku	
django-taggit	
djangorestframework	
docutils	
docutils-stubs		
go-ml-core
gunicorn
httpie
importlib-metadata
itsdangerous
jdcal	
jmespath
kiwisolver	
matplotlib	
more-itertools	
multidict	
numpy	
oauthlib			
packaging	
pandas		
pip
pip-tools
pluggy
py
pyasn1	
pymemcache	
pymongo	
pyparsing	
pytest
python-dateutil
python-telegram-bot
pytz
requests
requests-oauthlib
rsa	
s3transfer
scipy
seaborn
sentry-sdk	
setuptools
six	
snap
soupsieve
sqlparse
urllib3
virtualenv
wcwidth
whitenoise	
yapf
yarl
zipp	
